<template>
	<div class="px-3 py-4">
		<div class="text-black">{{ getDateFormat(content) }}</div>
	</div>
</template>

<script setup>
	function getDateFormat(tempDate) {
		if (tempDate === null || tempDate === undefined) return "NaN/NaN/NaN";

		const date = new Date(tempDate);
		const month =
			date.getMonth() < 9
				? `0${date.getMonth() + 1}`
				: `${date.getMonth() + 1}`;
		const format = `${date.getDate()}/${month}/${date.getFullYear()}`;

		return format;
	}
	const { content } = defineProps(["content"]);
</script>
