<template>
	<div class="px-3 py-4 w-full">
		<div v-if="data" class="flex justify-start items-center">
			<img
				v-if="data?.image_url"
				class="w-8 h-8 rounded-full bg-cover"
				:src="data.image_url"
				alt="Profile image" />
			<img
				v-else
				class="w-8 h-8 rounded-full bg-cover"
				src="~/assets/images/pp-4.jpg"
				alt="Profile image" />
			<p class="pl-3 pr-6 text-black">{{ data?.full_name }}</p>
		</div>
	</div>
</template>

<script setup>
	const { padding, content, header } = defineProps([
		"padding",
		"content",
		"header",
	]);

	const data = ref(null);

	if (header && header.get_from) {
		const globalStore = useGlobalStore();
		const store = globalStore[header.get_from].useStore();

		data.value = await store.findById(content);
	} else {
		data.value = await content;
	}
</script>
