<template>
	<div v-if="data && header" class="flex flex-col gap-4">
		<div class="flex flex-col gap-4">
			<h1 class="text-xl font-semibold">Current {{ header.name }}</h1>
			<div v-if="data[header.field]?.length > 0" class="flex flex-wrap gap-4">
				<template v-for="(record, index) in data[header.field]" :key="index">
					<div
						v-if="header.store_assign_info && bucket.get(record.id.toString())"
						class="flex flex-col gap-4 p-4 bg-gray-100 rounded-lg h-fit">
						<div class="flex gap-4 w-full justify-between items-center">
							<h1 class="text-lg font-medium">
								{{ bucket.get(record.id.toString())[header.get_from_field] }}
							</h1>

							<div class="flex gap-1">
								<button
									@click="
										deleteAssign(data, getRecord(record.id.toString()), index)
									"
									class="inline-flex justify-center items-center w-fit h-fit p-2 rounded-full text-red-500 hover:bg-red-500 hover:text-white aspect-square"
									type="button">
									<TrashIcon class="w-5 h-5" />
								</button>
							</div>
						</div>
					</div>
					<div
						v-else-if="
							!header.store_assign_info && bucket.get(record.toString())
						"
						class="flex flex-col gap-4 p-4 bg-gray-100 rounded-lg h-fit">
						<div class="flex gap-4 w-full justify-between items-center">
							<h1 class="text-lg font-medium">
								{{ bucket.get(record.toString())[header.get_from_field] }}
							</h1>
							<div class="flex gap-1">
								<button
									@click="
										deleteAssign(data, bucket.get(record.toString()), index)
									"
									class="inline-flex justify-center items-center w-fit h-fit p-2 rounded-full text-red-500 hover:bg-red-500 hover:text-white aspect-square"
									type="button">
									<TrashIcon class="w-5 h-5" />
								</button>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
		<div>
			<button class="primary-button" v-if="!isAdd" @click="isAdd = true">
				Assign {{ header.name }}
			</button>
			<div
				v-if="isAdd"
				class="flex flex-col gap-4 p-4 bg-gray-100 rounded-xl shadow-sm w-fit">
				<div class="grid gap-4">
					<div class="flex flex-col gap-4 justify-end">
						<label
							:for="`add-${header.name}`"
							class="block text-base font-medium text-gray-900 dark:text-white"
							>Select {{ header.name }}</label
						>
						<PeopleDropdown
							:header="header"
							@change="handleAssignDropdown($event)" />
					</div>
				</div>
				<div class="flex gap-4 pt-2">
					<button @click="confirmAssign(data)" class="primary-button-sm w-fit">
						Assign
					</button>
					<button @click="cancelAssign()" class="secondary-button-sm w-fit">
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
	import { TrashIcon } from "@heroicons/vue/24/outline";

	const { data, header, store } = defineProps(["data", "header", "store"]);
	const { currentUser } = useRealmApp();
	const globalStore = useGlobalStore();

	const toStore = store;
	const fromStore = globalStore[header.get_from]?.useStore();
	const isAdd = ref(false);
	const assigningTo = ref(null);
	const bucket = ref(new Map());

	await fromStore.initRecordsData();

	const getRecord = async (id) => {
		let temp = bucket.value.get(id.toString());

		if (!temp) {
			const tempData = await fromStore.findById(id);

			bucket.value.set(id.toString(), tempData);

			return tempData;
		} else {
			return temp;
		}
	};

	if (data && header) {
		data[header.field]?.forEach((item) => {
			if (header.store_assign_info) getRecord(item.id);
			else getRecord(item);
		});
	}

	const handleAssignDropdown = async (__data) => {
		if (__data) assigningTo.value = await fromStore.findById(__data);
	};

	const cancelAssign = () => {
		isAdd.value = false;
		assigningTo.value = null;
	};

	const deleteAssign = async (data, assignedTo, index) => {
		let i;
		let toUpdateLogs = {};
		let fromUpdateLogs = {};
		let toStoreSetData = {};
		let fromStoreSetData = {};
		let toIdField = `${header.field}_ids`;
		let fromIdField = `${header.assign_to_field}_ids`;

		assignedTo = await assignedTo;

		for (i = 0; i < assignedTo[header.assign_to_field]?.length; i++) {
			const element = assignedTo[header.assign_to_field][i];

			if (element?.id?.toString() === data._id.toString()) {
				break;
			} else if (element.toString() === data._id.toString()) {
				break;
			}
		}

		toUpdateLogs = {
			type: "assign",
			sub_type: "delete",
			field: header.field,
			to: assignedTo._id,
			updated_at: new Date(),
			updated_by: currentUser?.id,
		};

		fromUpdateLogs = {
			type: "assign",
			sub_type: "delete",
			field: header.assign_to_field,
			to: data._id,
			updated_at: new Date(),
			updated_by: currentUser?.id,
		};

		data[header.field].splice(index, 1);

		if (data[toIdField]) {
			data[toIdField].splice(index, 1);
			toStoreSetData[toIdField] = data[toIdField];
		}

		if (!data.update_logs) {
			data.update_logs = [];
		}

		data.update_logs.push(toUpdateLogs);

		assignedTo[header.assign_to_field].splice(i, 1);

		if (assignedTo[fromIdField]) {
			assignedTo[fromIdField].splice(i, 1);
			fromStoreSetData[fromIdField] = assignedTo[fromIdField];
		}

		if (!assignedTo.update_logs) {
			assignedTo.update_logs = [];
		}

		assignedTo.update_logs.push(fromUpdateLogs);

		toStoreSetData[header.field] = data[header.field];
		toStoreSetData.update_logs = data.update_logs;

		fromStoreSetData[header.assign_to_field] =
			assignedTo[header.assign_to_field];
		fromStoreSetData.update_logs = assignedTo.update_logs;

		toStore.addField(toStoreSetData, data);
		fromStore.addField(fromStoreSetData, assignedTo);
	};

	const confirmAssign = (data) => {
		let toStoreSetData = {};
		let fromStoreSetData = {};

		let toUpdateLogs = {};
		let fromUpdateLogs = {};

		toUpdateLogs = {
			type: "assign",
			sub_type: "add",
			field: header.field,
			to: assigningTo.value._id,
			updated_at: new Date(),
			updated_by: currentUser?.id,
		};

		fromUpdateLogs = {
			type: "assign",
			sub_type: "add",
			field: header.assign_to_field,
			to: data._id,
			updated_at: new Date(),
			updated_by: currentUser?.id,
		};

		if (header.store_assign_info === true) {
			const id_field = `${header.field}_ids`;

			let temp = {};
			temp.id = assigningTo.value._id;
			temp.assigned_on = new Date();
			temp.assigned_by = currentUser?.id;

			if (!data[header.field]) {
				data[header.field] = [];
			}
			data[header.field].push(temp);

			if (!data[id_field]) {
				data[id_field] = [];
			}

			data[id_field].push(assigningTo.value._id.toString());

			if (!assigningTo.value[header.assign_to_field]) {
				assigningTo.value[header.assign_to_field] = [];
			}

			assigningTo.value[header.assign_to_field].push(data._id);

			toStoreSetData[header.field] = data[header.field];
			toStoreSetData[id_field] = data[id_field];
		} else {
			const id_field = `${header.assign_to_field}_ids`;

			let temp = {};
			temp.id = data._id;
			temp.assigned_on = new Date();
			temp.assigned_by = currentUser?.id;

			if (!data[header.field]) {
				data[header.field] = [];
			}

			data[header.field].push(assigningTo.value._id);

			if (!assigningTo.value[header.assign_to_field]) {
				assigningTo.value[header.assign_to_field] = [];
			}
			assigningTo.value[header.assign_to_field].push(temp);

			if (!assigningTo.value[id_field]) {
				assigningTo.value[id_field] = [];
			}

			assigningTo.value[id_field].push(data._id.toString());

			fromStoreSetData[header.assign_to_field] =
				assigningTo.value[header.assign_to_field];
			fromStoreSetData[id_field] = assigningTo.value[id_field];
		}

		bucket.value.set(assigningTo.value._id.toString(), assigningTo.value);

		if (!data.update_logs) {
			data.update_logs = [];
		}

		data.update_logs.push(toUpdateLogs);

		if (!assigningTo.value.update_logs) {
			assigningTo.value.update_logs = [];
		}

		assigningTo.value.update_logs.push(fromUpdateLogs);

		toStoreSetData.update_logs = data.update_logs;
		fromStoreSetData.update_logs = assigningTo.value.update_logs;

		console.log(data, assigningTo.value);

		toStore.addField(toStoreSetData, data);
		fromStore.addField(fromStoreSetData, assigningTo.value);

		isAdd.value = false;
	};
</script>

<style lang="scss" scoped></style>
