<template>
    <dev class="grid grid-cols-12 gap-5">
        <div class="col-span-6 md:col-span-3 p-2 border rounded-md bg-blue-50">
            <div class="flex justify-between items-center mb-2 md:mb-4">
                <p class="w-fit p-0.5 text-white rounded-full bg-emerald-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </p>
                <p class="text-lg font-bold">$11.67K</p>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xs font-semibold">Total Spend</p>
                <p class="text-xs text-green-600">+33.45%</p>
            </div>
        </div>
        <div class="col-span-6 md:col-span-3 p-2 border rounded-md bg-slate-100">
            <div class="flex justify-between items-center mb-2 md:mb-4">
                <p class="w-fit p-0.5 text-white rounded-full bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                    </svg>
                </p>
                <p class="text-lg font-bold">47,403</p>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xs font-semibold">Total Impressions</p>
                <p class="text-xs text-red-600">-112.4%</p>
            </div>
        </div>
        <div class="col-span-6 md:col-span-3 p-2 border rounded-md bg-green-100">
            <div class="flex justify-between items-center mb-2 md:mb-4">
                <p class="w-fit p-0.5 text-white rounded-full bg-green-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </p>
                <p class="text-lg font-bold">55,093</p>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xs font-semibold">Viewable Impressions</p>
                <p class="text-xs text-green-600">+62.04%</p>
            </div>
        </div>
        <div class="col-span-6 md:col-span-3 p-2 border rounded-md bg-orange-100">
            <div class="flex justify-between items-center mb-2 md:mb-4">
                <p class="w-fit p-0.5 text-white rounded-full bg-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                    </svg>
                </p>
                <p class="text-lg font-bold">$12.33M</p>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xs font-semibold">Total Sales</p>
                <p class="text-xs text-green-600">+4.46%</p>
            </div>
        </div>
    </dev>
</template>

<script setup>

</script>