<template>
    <div class="grid grid-cols-12 mt-5 gap-5">
        <section class="md:col-span-6 col-span-12">
            <HomeFivthRadar></HomeFivthRadar>
        </section>
        <section class="md:col-span-6 col-span-12">
            <HomeFivthPolarArea></HomeFivthPolarArea>
        </section>
    </div>
</template>

<script setup>
</script>