<template>
    <div class="grid grid-cols-12 mt-5 gap-5">
        <section class="md:col-span-6 col-span-12">
            <HomeFourthBabble></HomeFourthBabble>
        </section>
        <section class="md:col-span-6 col-span-12">
            <HomeFourDot></HomeFourDot>
        </section>
    </div>
</template>

<script setup>
</script>