<template>
    <div class="grid grid-cols-12 mt-5 gap-5">
        <section class="md:col-span-7 col-span-12">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-12 md:col-span-6">
                    <HomeContextual></HomeContextual>
                </div>
                <div class="col-span-12 md:col-span-6">
                    <HomeDeviceType></HomeDeviceType>
                </div>
            </div>
        </section>
        <section class="md:col-span-5 col-span-12">
            <HomeImprassCard></HomeImprassCard>
        </section>
    </div>
</template>

<script setup>
</script>