<template>
    <div class="grid grid-cols-12 mt-5 gap-5">
        <section class="md:col-span-7 col-span-12">
            <HomeSpendByChanel></HomeSpendByChanel>
        </section>
        <section class="md:col-span-5 col-span-12">
            <HomeResonance></HomeResonance>
        </section>
    </div>
</template>

<script setup>
</script>