<template>
	<div v-if="options && options.length > 0">
		<button
			id="dropdownSearchButton"
			data-dropdown-toggle="dropdownSearch"
			data-dropdown-placement="bottom"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
			type="button">
			Dropdown search
			<svg
				class="w-2.5 h-2.5 ml-2.5"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 10 6">
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="m1 1 4 4 4-4" />
			</svg>
		</button>

		<!-- Dropdown menu -->
		<div
			id="dropdownSearch"
			class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
			<div class="p-3">
				<label for="input-group-search" class="sr-only">Search</label>
				<div class="relative">
					<div
						class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg
							class="w-4 h-4 text-gray-500 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20">
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
						</svg>
					</div>
					<input
						type="text"
						id="input-group-search"
						class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Search user" />
				</div>
			</div>
			<ul
				class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200"
				aria-labelledby="dropdownSearchButton">
				<li v-for="item in options" :key="item.value">
					<div
						class="flex items-center pl-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
						<input
							v-model="selectedRecords"
							:id="`radio-${item.value}`"
							type="radio"
							:value="item.value"
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
						<label
							:for="`radio-${item.value}`"
							class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300"
							>{{ item.name }}</label
						>
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>

<script setup>
	// const globalStore = useGlobalStore();
	const { header } = defineProps(["header"]);
	const emit = defineEmits(["change"]);
	const selectedRecords = ref("");
	const options = ref(null);

	if (header.options && header.options.length > 0) {
		console.log(header.options);
		options.value = header.options;
	}

	watch(selectedRecords, () => {
		emit("change", selectedRecords.value);
	});

	const assignUser = () => {
		console.log(selectedRecords.value);
	};
</script>

<style lang="scss" scoped></style>
