<template>
	<div class="relative overflow-x-auto sm:rounded-lg mt-2">
		<table class="w-full text-sm text-left text-gray-500">
			<tbody>
				<td
					class="flex items-center justify-between px-2 md:px-5 py-2 border-b cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Neil Sim
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								Am no an listening depending up believing. Enough around remove
								to estimable be co...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						17 April at 09.30 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Handry Murkaie
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								Enough around remove to estimable be coAm no an listening
								depending up believing...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						17 April at 08.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Rahul Jaykar
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								Estimable be coAm no an listening Enough remove to depending up
								believing around...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						16 April at 05.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-4.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Luri Gungelas
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								An estimable be coAm no listening Enough remove to around
								depending up believing...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						15 April at 07.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Arina grande
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								No listening Enough remove to around depending up believing An
								estimable be coAm ...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						14 April at 12.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Neil Sims
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								Am no an listening depending up believing. Enough around remove
								to estimable be co...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						17 April at 09.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Handry Murkaie
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								Enough around remove to estimable be coAm no an listening
								depending up believing...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						17 April at 08.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Rahul Jaykar
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								Estimable be coAm no an listening Enough remove to depending up
								believing around...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						17 April at 08.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-4.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Luri Gungelas
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								An estimable be coAm no listening Enough remove to around
								depending up believing...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						15 April at 07.28 PM
					</p>
				</td>

				<td
					class="flex items-center justify-between px-2 md:px-5 border-y py-2 cursor-pointer hover:bg-gray-100">
					<div class="flex items-center gap-2">
						<input
							id="default-checkbox"
							type="checkbox"
							value=""
							class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							strokeWidth="{1.5}"
							stroke="currentColor"
							class="w-6 h-6 hover:text-yellow-400">
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
						</svg>
						<NuxtLink
							to="/inbox/details"
							class="flex items-center justify-between">
							<img
								class="w-10 h-10 rounded-full mr-3"
								src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
								alt="Rounded avatar" />
							<h3 class="font-bold w-[150px] flex whitespace-nowrap">
								Arina grande
							</h3>
							<p class="font-bold flex whitespace-nowrap mr-5">
								No listening Enough remove to around depending up believing An
								estimable be coAm ...
							</p>
						</NuxtLink>
					</div>
					<p class="font-semibold flex whitespace-nowrap">
						14 April at 12.28 PM
					</p>
				</td>
			</tbody>
		</table>
	</div>
</template>

<script setup></script>
