<template>
	<div class="relative">
		<div class="relative">
			<div
				class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
				<MagnifyingGlassIcon class="w-5 h-5" />
			</div>
			<input
				@click="toggleDropdown()"
				v-model="searchString"
				type="text"
				:name="`${prefix}-${header.name}`"
				:id="`dropdown-button-${prefix}-${header.name}`"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full pl-12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
				:placeholder="`Search ${header.name}`" />
		</div>

		<div
			:id="`dropdown-${prefix}-${header.name}`"
			class="z-40 hidden max-h-[500px] overflow-y-scroll bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 absolute translate-y-2">
			<ul
				v-if="searchString?.length > 1"
				class="p-3 text-sm text-gray-700 dark:text-gray-200">
				<template v-if="options?.length > 0">
					<li v-for="(opt, index) in options" :key="opt._id">
						<div
							class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
							<div class="flex items-center">
								<input
									v-if="header.multi_select"
									:id="`option-${header.name}-${index}`"
									:name="`option-${header.name}-${index}`"
									type="checkbox"
									:value="opt"
									v-model="multiSelectValue"
									class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
								<input
									v-else
									@click="toggleDropdown()"
									:id="`option-${header.name}-${index}`"
									:name="`option-${header.name}-${index}`"
									type="radio"
									:value="opt"
									v-model="selectedValue"
									class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
							</div>
							<div class="ml-2 text-sm w-full">
								<label
									v-if="header.multi_select"
									:for="`option-${header.name}-${index}`"
									class="text-gray-900 dark:text-gray-300">
									<div>{{ opt[header.get_from_field] }}</div>
								</label>
								<label
									v-else
									:for="`option-${header.name}-${index}`"
									class="text-gray-900 dark:text-gray-300">
									<div>{{ opt[header.get_from_field] }}</div>
								</label>
							</div>
						</div>
					</li>
				</template>
				<div v-else class="p-2">
					<p>No results found</p>
				</div>
			</ul>
		</div>
	</div>
</template>

<script setup>
	import { MagnifyingGlassIcon } from "@heroicons/vue/24/solid";

	const globalStore = useGlobalStore();
	const emit = defineEmits(["change"]);

	const { header, fieldValue, prefix } = defineProps([
		"header",
		"fieldValue",
		"prefix",
	]);

	const store = globalStore[header.get_from]?.useStore();
	const searchString = ref(null);
	const selectedValue = ref(null);
	const multiSelectValue = ref([]);
	const options = ref(null);

	await store.initRecordsData();

	if (fieldValue) {
		const temp = await store.findById(fieldValue);

		if (temp) {
			searchString.value = temp[header.get_from_field];
			options.value = [temp];
			selectedValue.value = temp;
		}
	}

	watch(searchString, async (newVal, oldVal) => {
		if (fieldValue && !oldVal) return;

		if (newVal === oldVal || newVal?.length <= 1) {
			options.value = null;
			return;
		}

		if (header) {
			let temp = {};

			temp[header.get_from_field] = {};
			temp[header.get_from_field]["$regex"] = newVal;
			temp[header.get_from_field]["$options"] = "i";

			options.value = await store.findRecords([temp]);
		}
	});

	watch(selectedValue, (newVal, oldVal) => {
		if (fieldValue && !oldVal) return;

		if (oldVal !== newVal && newVal) {
			searchString.value = newVal[header.get_from_field];
			emit("change", newVal[header.get_from_value]);
		}
	});

	watch(multiSelectValue, (newVal, oldVal) => {
		if (fieldValue && !oldVal) return;

		if (oldVal !== newVal && newVal) {
			selectedValue.value = multiSelectValue.value;
		}
	});

	const toggleDropdown = () => {
		let button = document.getElementById(
			`dropdown-button-${prefix}-${header.name}`
		);
		let dropdownElement = document.getElementById(
			`dropdown-${prefix}-${header.name}`
		);

		dropdownElement.style.width = `${button.offsetWidth}px`;
		dropdownElement.classList.toggle("hidden");
	};
</script>

<style lang="scss" scoped></style>
